# Database
POSTGRES_DB=pardodb
POSTGRES_USER=pardo
POSTGRES_PASSWORD=pardo2024

# Redis
REDIS_PASSWORD=pardo_redis_2024

# JWT
JWT_SECRET=pardo_secret_key_2024

# Application
PORT=5000
NODE_ENV=development
